
<nav class="navbar navbar-expand-lg"> {{!--navbar-dark bg-dark (case u wanted dark)--}}
    <a class="navbar-brand" href="/" id="brand">EVVS™</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">&#9776;</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
       {{!-- <form class="form-inline mt-2 mt-md-0" action="/users/profile" method="get">
            <input class="form-control mr-sm-2" type="text" placeholder="Cauta in comenzi" aria-label="Search" name="search" id="searchFormInput">
            <button class="my-2 my-sm-0" type="submit" id="searchFormButton">Cauta</button>
        </form>--}}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
                <a class="nav-link" href="/all" target="_self">Produse<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/report/contact" target="_self">Contactati-ne</a>
            </li>
        </ul>
        <img src="/images/cart.svg" width="40" height="40" alt="" style="margin-left: 15px" id="cartImageOnProfile">
        <ul class="navbar nav navbar-right">
            {{#if login}}
                {{# if products}}
                    <li class="nav-item">
                        <a class="nav-link" href="/shopping-cart/" role="button">
                            Cos cumparaturi
                            <span class="badge badge-dark">{{session.cart.totalQty}} produse</span>

                        </a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/shopping-cart/" role="button">
                            Cos cumparaturi
                            <span class="badge badge-dark">{{session.cart.totalQty}} produse</span>

                        </a>
                    </li>
                {{/if}}
            {{else}}
                {{# if products}}
                    <li class="nav-item">
                        <a class="nav-link" href="/shopping-cart/" role="button">
                            Cos cumparaturi
                            <span class="badge badge-dark">{{session.cart.totalQty}} produse</span>

                        </a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/shopping-cart/" role="button">
                            Cos cumparaturi
                            <span class="badge badge-dark">{{session.cart.totalQty}} produse</span>

                        </a>
                    </li>
                {{/if}}
            {{/if}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{#if login}}
                        <small style="color: red;font-family: 'Open Sans regular'">Esti logat</small>
                    {{/if}}
                    Contul meu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{#if login}}
                        <a class="dropdown-item" href="/users/profile" style="padding-left: 14px"><img src="/images/mydata.svg" width="30" height="30" alt="" style="padding-bottom: 4px">Datele mele</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/logout" style="padding-left: 20px!important;"><img src="/images/logout.svg" width="20" height="20" alt="" style="padding-bottom: 4px">Delogheaza-te</a>
                    {{else}}
                        <a class="dropdown-item" href="/users/signup"><img src="/images/newaccount.svg" width="20" height="20" alt="" style="padding-bottom: 4px">Cont nou</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/signin"><img src="/images/enteraccount.svg" width="30" height="30" alt="" style="padding-bottom: 4px">Intra in cont</a>
                    {{/if}}
                </div>
            </li>
        </ul>
    </div>
</nav>
